# For Python 3.11+
scikit-learn
hdbscan
pandas
numpy
matplotlib
jupyterlab
seaborn
pillow
pyamg
jupyterlab_myst
pyarrow

# This is only the Python bindings for graphviz
# Need to use system installers for graphviz itself
graphviz
